@model Admin
@{
    ViewData["Title"] = "Update";
}

<form class="user" method="post">


    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-user" })
        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Surname)
        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control form-control-user" })
        @Html.ValidationMessageFor(m => m.Surname, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", @type = "email" })
        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control form-control-user" })
        @Html.ValidationMessageFor(m => m.Username, null, new { @class = "text-danger" })
    </div>
    <button class="btn btn-primary btn-user btn-block">Update</button>
</form>


