@model EventDetailVM
@{ 
    ViewBag.Title = "EventDetails"; 
 }
<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event / details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Details Start -->
<div class="event-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-details">
                    <div class="event-details-img">
                        <img style="width:770px;height:370px" src="~/img/event/@Model.Event.Image" alt="event-details">
                        <div class="event-date">
                            <h3>@Model.Event.Date.ToString("dd MMM", CultureInfo.InvariantCulture)</h3>
                        </div>
                    </div>
                    <div class="event-details-content">
                        <h2>@Model.Event.Name</h2>
                        <ul>
                            <li><span>time : </span>@Model.Event.StartInterval - @Model.Event.EndInterval</li>
                            <li><span>venue : </span>@Model.Event.Place</li>
                        </ul>
                        <p>
                            @Html.Raw(Model.Event.Content)
                        </p>
                        <div class="speakers-area fix">
                            <h4>speakers</h4>
                            @foreach (Speaker speaker in Model.Speakers)
                            {
                                <div class="single-speaker">
                                    <div class="speaker-img">
                                        <img src="~/img/event/@speaker.Image" alt="speaker">
                                    </div>
                                    <div class="speaker-name">
                                        <h5>@speaker.Name</h5>
                                        <p>@speaker.Profession </p>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                    <div class="reply-area">
                        <h3>LEAVE A REPLY</h3>
                        <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut<br> the is lder of human happinescias unde omnis iste natus error sit volptatem </p>
                        <form id="contact-form" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Name</p>
                                    <input asp-for="@Model.ContactMessage.Name">
                                    <span class="text-danger" asp-validation-for="@Model.ContactMessage.Name"></span>
                                </div>
                                <div class="col-md-12">
                                    <p>Email</p>
                                    <input asp-for="@Model.ContactMessage.Email">
                                    <span class="text-danger" asp-validation-for="@Model.ContactMessage.Email"></span>
                                </div>
                                <div class="col-md-12">
                                    <p>Subject</p>
                                    <input asp-for="@Model.ContactMessage.Subject">
                                    <span class="text-danger" asp-validation-for="@Model.ContactMessage.Subject"></span>
                                    <p>Message</p>
                                    <textarea asp-for="@Model.ContactMessage.Message" cols="15" rows="10"></textarea>
                                    <span class="text-danger" asp-validation-for="@Model.ContactMessage.Message"></span>
                                </div>
                            </div>
                            <a class="reply-btn" href="#" data-text="send"><span>send message</span></a>
                            <p class="form-messege"></p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input type="search" placeholder="Search..." name="search" />
                                <button type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        <ul>
                            @foreach (EventCategory eventCategory in Model.EventCategories)
                            {
                                <li><a asp-controller="Event" asp-action="Index">@eventCategory.Name (@eventCategory.Count)</a></li>
                            }


                        </ul>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <div class="single-blog-banner">
                            <a href="blog-details.html" id="blog"><img src="~/img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>latest post</h3>
                        @foreach (Blog item in Model.Blogs)
                        {
                            <div class="single-post mb-30">
                                <div class="single-post-img">
                                    <a href="blog-details.html">
                                        <img src="~/img/post/@item.Image" alt="post">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">
                                    <h4><a href="blog-details.html">@item.Title</a></h4>
                                    <p>By @item.Author / @item.Date</p>
                                </div>
                            </div>
                        }


                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            @foreach (var item in Model.Tags)
                            {
                                <a asp-action="Index" asp-controller="Course" class="mr-10 mb-10">@item.Name</a>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Event Details End -->