@model EventVM
<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (Event _event in Model.Event)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a asp-action="Detail" asp-controller="Event" asp-route-id="@_event.Id">
                                <img src="~/img/event/@_event.Image" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>@_event.Date.ToString("dd MMM",CultureInfo.InvariantCulture)</h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a asp-controller="Event" asp-action="Detail" asp-route-id="@_event.Id">@_event.Name</a></h4>
                            <ul>
                                <li><span>time:</span> @_event.StartInterval - @_event.EndInterval</li>
                                <li><span>venue</span> @_event.Place</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="Event" asp-action="Detail" asp-route-id="@_event.Id">join now</a>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
<!-- Event End -->
