@model ContactVM
@{
    ViewData["Title"] = "Contact";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>contact</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Contact Start -->
<div class="mapouter"><div class="gmap_canvas"><iframe width="1080" height="440" id="gmap_canvas" src="https://maps.google.com/maps?q=Lokbatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br>
<style>
    .mapouter {
        position: relative;
        text-align: right;
        height: 440px;
        width: 1080px;
    }
</style><a href="https://www.embedgooglemap.net">google maps iframe options</a>
<style>
    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 440px;
        width: 1080px;
    }
</style></div></div>
<div class="contact-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="contact-contents text-center">
                    <div class="single-contact mb-65">
                        <div class="contact-icon">
                            <img src="img/contact/contact1.png" alt="contact">
                        </div>
                        <div class="contact-add">
                            <h3>address</h3>
                            <p>@Model.Setting.Address</p>
                            <p>New Yourk City, USA</p>
                        </div>
                    </div>
                    <div class="single-contact mb-65">
                        <div class="contact-icon">
                            <img src="img/contact/contact2.png" alt="contact">
                        </div>
                        <div class="contact-add">
                            <h3>address</h3>
                            <p>@Model.Setting.Address</p>
                            <p>New Yourk City, USA</p>
                        </div>
                    </div>
                    <div class="single-contact">
                        <div class="contact-icon">
                            <img src="img/contact/contact3.png" alt="contact">
                        </div>
                        <div class="contact-add">
                            <h3>address</h3>
                            <p>@Model.Setting.Address</p>
                            <p>New Yourk City, USA</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="reply-area">
                    <h3>LEAVE A REPLY</h3>
                    <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut<br> the is lder of human happinescias unde omnis iste natus error sit volptatem </p>
                    <form method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Name</p>
                                <input asp-for="@Model.ContactMessage.Name">
                                <span class="text-danger" asp-validation-for="@Model.ContactMessage.Name"></span>
                            </div>
                            <div class="col-md-12">
                                <p>Email</p>
                                <input asp-for="@Model.ContactMessage.Email">
                                <span class="text-danger" asp-validation-for="@Model.ContactMessage.Email"></span>
                            </div>
                            <div class="col-md-12">
                                <p>Subject</p>
                                <input asp-for="@Model.ContactMessage.Subject">
                                <span class="text-danger" asp-validation-for="@Model.ContactMessage.Subject"></span>
                                <p>Message</p>
                                <textarea asp-for="@Model.ContactMessage.Message" cols="15" rows="10"></textarea>
                                <span class="text-danger" asp-validation-for="@Model.ContactMessage.Message"></span>
                            </div>
                        </div>
                        <button class="reply-btn" type="submit" style="background: #2C2B5E; color: #fff; text-transform: uppercase; font-family: 'Open Sans', sans-serif; padding: 8px 25px;"><span>send message</span></button>
                        <p class="form-messege"></p>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
