@model BlogVM

@{ 
    ViewBag.Title = "Index"; 
 }

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>blog</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (Blog blog in Model.Blogs)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog mb-60">
                        <div class="blog-img">
                            <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id"><img  src="~/img/blog/@blog.Image" alt="blog"></a>
                            <div class="blog-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>By @blog.Author  /  @blog.Date.ToString("MMM dd,yyy", CultureInfo.InvariantCulture)  /  <i class="fa fa-comments-o"></i> @(Model.BlogComments.Count()>0? Model.BlogComments.Count():0)</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">I must explain to you how all this a mistaken idea </a></h2>
                                <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="pagination">
                    <ul>

                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            if (Model.CurrentPage == i)
                            {
                              <li><a>2</a></li> 
                            }
                                    else
                                    {
                                      <li><a href="@Url.Action("index","Blog",new { page = i })">@i</a></li>
                                    }
                         }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
